<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="ActorMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="Actor" type="study.java.mvmanangement.model.Actor">
		<!-- Beans의 멤버변수(property)이름과 
			대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="acode" column="acode" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="birthdate" column="birthdate" />
		<result property="birthplace" column="birthplace" />
		<result property="height" column="height" />
		<result property="weight" column="weight" />
		<result property="blood_type" column="blood_type" />
		<result property="role" column="role" />
		<result property="mcode" column="mcode" />
	</resultMap>
	
	<!--
		데이터 저장을 위한 기능 정의
		<insert id="메서드이름에 해당하는 식별자" 
				parameterType="파라미터의 데이터 타입(Beans의 클래스명)" 
				useGeneratedKeys="자동증가 일련번호값 리턴 여부" 
				keyProperty="자동증가 일련번호 컬럼명">
	-->
	<insert id="add_Actor" 
	    	parameterType="study.java.mvmanangement.model.Actor" 
	    	useGeneratedKeys="true"
	    	keyProperty="acode">
		<!-- "#{변수명}" 으로 표시된 곳에 Beans의 멤버변수가 치환된다. -->
		INSERT INTO Actor (name, gender, birthdate, birthplace, height, weight, blood_type, role, mcode) 
		VALUES (#{name},#{gender},#{birthdate},#{birthplace},#{height},#{weight},#{blood_type},,#{role}#{mcode});
	</insert>

	<!--
		데이터 삭제를 위한 기능 정의
		<delete id="메서드이름에 해당하는 식별자" 
				parameterType="파라미터의 데이터 타입(Beans의 클래스명)">
	-->
	<delete id="remove_Actor" 
	    	parameterType="study.java.mvmanangement.model.Actor">
		<!-- "#{변수명}" 으로 표시된 곳에 Beans의 멤버변수가 치환된다. -->
		DELETE FROM Actor WHERE acode=#{acode};
	</delete>
	

	<!--
		데이터 갱신을 위한 기능 정의
		<update id="메서드이름에 해당하는 식별자" 
				parameterType="파라미터의 데이터 타입(Beans의 클래스명)">
	-->
	<update id="edit_Actor" 
	    	parameterType="study.java.mvmanangement.model.Actor">
		<!-- "#{변수명}" 으로 표시된 곳에 Beans의 멤버변수가 치환된다. -->
		UPDATE Actor SET name=#{name}, gender=#{gender},
		birthdate=#{birthdate}, birthplace=#{birthplace}, height=#{height}, weight=#{weight},
		blood_type=#{blood_type}, role=#{role}, mcode=#{mcode} WHERE acode=#{acode};
	</update>

	<!--
		단일행 조회를 위한 기능 정의
		<select id="메서드이름에 해당하는 식별자"
				parameterType="파라미터의 데이터 타입(Beans의 클래스명)" 
				resultMap="리턴될 Beans이름">
	-->
	<select id="get_Actor_item" 
	    	parameterType="study.java.mvmanangement.model.Actor" 
	    	resultMap="Actor">
		<!-- "#{변수명}" 으로 표시된 곳에 멤버변수가 치환된다. -->
		SELECT * FROM Actor WHERE acode=#{acode};
		
	</select>

	<!--
		다중행 조회를 위한 기능 정의
		<select id="메서드이름에 해당하는 식별자" 
				resultMap="리턴될 Beans이름">
	-->
	<select id="get_Actor_list" resultMap="Actor">
		<!-- 이 안에서 처리할 SQL문을 명시한다. -->
		SELECT * FROM Actor;
	</select>

</mapper>