<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- oracle 접속 정보를 지정한다. -->
	<properties>
		<property name="hostname" value="localhost" />
		<property name="portnumber" value="9090" />
		<property name="database" value="myschool" />
		<property name="username" value="hr" />
		<property name="password" value="hr" />
	</properties>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:9090:orcl"/>
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- 실행할 SQL문을 정의한 Mapper XML의 경로를 지정한다. -->
	<mappers>
		<mapper
			resource="study/java/myschool/mapper/DepartmentMapper.xml" />
		<mapper
			resource="study/java/myschool/mapper/StudentMapper.xml" />
		<mapper
			resource="study/java/myschool/mapper/ProfessorMapper.xml" />
	</mappers>
</configuration>
